{% extends 'pages.html' %}{% load static %}
{% block title %}О кампании - ООО "Соила"{% endblock %}
{% block content_page %}

    <h1>О компании</h1>
    <p>Lorem ipsum dolor.</p>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. At atque esse fugiat ipsum molestias neque omnis quas
        quo repellendus ut.</p>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aperiam blanditiis cum, earum eveniet, illo impedit in
        ipsam magni nemo nesciunt nihil pariatur praesentium, sit. Cumque exercitationem fugit quasi quia reiciendis
        velit. Dolore earum ex exercitationem, facilis molestiae necessitatibus, neque quae quasi, quibusdam quisquam
        rem repellendus! Aspernatur consectetur deleniti dolore itaque, sed veritatis. Assumenda, commodi deserunt
        ducimus excepturi, inventore, iste laborum molestiae nobis odio officiis optio perspiciatis quam quibusdam quos
        ratione reprehenderit suscipit. Adipisci asperiores blanditiis cum, dolore ea exercitationem harum iure labore,
        laborum modi nobis sequi tempore ullam velit voluptatibus.</p>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aperiam blanditiis cum, earum eveniet, illo impedit in
        ipsam magni nemo nesciunt nihil pariatur praesentium, sit. Cumque exercitationem fugit quasi quia reiciendis
        velit. Dolore earum ex exercitationem, facilis molestiae necessitatibus, neque quae quasi, quibusdam quisquam
        rem repellendus! Aspernatur consectetur deleniti dolore itaque, sed veritatis. Assumenda, commodi deserunt
        ducimus excepturi, inventore, iste laborum molestiae nobis odio officiis optio perspiciatis quam quibusdam quos
        ratione reprehenderit suscipit. Adipisci asperiores blanditiis cum, dolore ea exercitationem harum iure labore,
        laborum modi nobis sequi tempore ullam velit voluptatibus.</p>


{% endblock content_page %}

{% block sidebar %}
    <ul>
        <li>Lorem.</li>
        <li>Nobis!</li>
        <li>Ipsam?</li>
        <li>Voluptas.</li>
        <li>Architecto.</li>
    </ul>
{% endblock sidebar %}
</div>