{% extends 'base.html' %}{% load static %}
{% block title %}ООО "Соила" - добыча и реализация песка{% endblock title %}
{% block page %}
    <div class="text row container-fluid justify-content-center">
        <div class="col-md-9">
            <h1>ОАО Соила</h1>
                <div id="carousel" class="carousel slide" data-ride="carousel">
                      <div class="carousel-inner" role="listbox">
                        <div class="carousel-item active">
                          <img class="d-block img-fluid" src="/media/bootstrap-social.png" alt="First slide">
                        </div>
                        <div class="carousel-item">
                          <img class="d-block img-fluid" src="/media/book_header.jpg" alt="Second slide">
                        </div>
                        <div class="carousel-item">
                          <img class="d-block img-fluid" src="/media/bootstrap-social.png" alt="Third slide">
                        </div>
                      </div>
                      <a class="carousel-control-prev" href="#carousel" role="button" data-slide="prev">
                        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                        <span class="sr-only">Previous</span>
                      </a>
                      <a class="carousel-control-next" href="#carousel" role="button" data-slide="next">
                        <span class="carousel-control-next-icon" aria-hidden="true"></span>
                        <span class="sr-only">Next</span>
                      </a>
                </div>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Cum, facere, inventore! Commodi cumque dolore
                eum nisi perferendis quae voluptate. Nesciunt perspiciatis suscipit veritatis. Adipisci at, consequatur
                debitis deleniti eligendi error explicabo facere harum illo ipsam labore maxime nam necessitatibus
                nesciunt nisi non nulla perspiciatis placeat quibusdam rem sed suscipit tempora temporibus unde velit
                veniam voluptas voluptatem? Asperiores beatae earum est in ipsa, ipsam iusto molestias neque nobis
                obcaecati odit omnis quasi quidem repellendus vel. Autem beatae cumque deserunt laudantium veritatis.
                Cum cupiditate doloremque exercitationem harum id illum impedit laborum molestiae nostrum pariatur quia
                repellat, saepe suscipit temporibus ullam vel veniam.</p>

            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ad adipisci aperiam, consectetur consequatur
                dolorem exercitationem expedita facere id illo illum, incidunt laborum minima natus nemo nesciunt odio
                pariatur perspiciatis ratione, reiciendis temporibus? Delectus eos ex expedita illum mollitia nemo
                placeat quis saepe veniam? A accusantium ad aperiam assumenda consequatur cum debitis deserunt
                dignissimos distinctio error expedita labore maiores necessitatibus nisi numquam perferendis possimus,
                quae quisquam sequi, voluptate! Aliquam asperiores beatae commodi cupiditate distinctio eaque earum enim
                eos, error et facilis fugit inventore ipsum iste labore modi non odio officiis omnis perferendis
                possimus quasi quis rem rerum sapiente vel veniam. Aperiam corporis deleniti dolor doloremque ducimus,
                ea eaque earum esse illo in ipsa iusto molestiae, non numquam odit perferendis, placeat quasi
                reprehenderit sunt unde vel vitae voluptates. Accusantium doloribus harum illo, inventore laudantium
                molestias mollitia placeat ratione reiciendis repellendus reprehenderit tempore voluptas? Doloribus ex
                impedit incidunt laudantium necessitatibus odio quaerat, quos tempora. Ab accusamus esse et fugiat nam
                officia perferendis quod repudiandae sit. Illum placeat sint voluptates! Cupiditate et laboriosam omnis
                praesentium voluptatum. Aliquid amet asperiores, eaque id pariatur possimus quasi quidem soluta. Ab
                accusantium ad adipisci aliquam amet autem consectetur dignissimos, dolore doloremque dolorum eius esse
                expedita fuga id iusto laborum magnam molestiae, nemo nisi obcaecati odio optio placeat porro
                praesentium quae quaerat quasi, qui quibusdam quod quos reiciendis rem repellendus suscipit veniam vitae
                voluptatem voluptatum? Animi, dolorem dolorum ipsa labore officia qui reiciendis velit voluptates.
                Blanditiis eaque quam tenetur! Architecto aspernatur cupiditate eligendi ex maxime nulla numquam rem
                tenetur. Fugiat id nemo nulla quibusdam sit soluta vel voluptas. Accusamus animi facilis fuga fugiat id
                iure iusto nihil nulla provident qui quo reiciendis repellendus, unde! Aperiam commodi consequatur
                corporis dignissimos dolore doloremque ea earum eius enim et, excepturi fuga in inventore ipsum maiores
                minima nemo nihil, non quae quaerat, quibusdam quo repellat reprehenderit sapiente sunt? Adipisci
                architecto consequuntur dignissimos dolorum est expedita facere, hic magni natus odit optio tenetur
                voluptatem voluptates. A alias dolore impedit, ipsa maiores placeat praesentium quibusdam quis. Alias
                assumenda corporis debitis deserunt dolorum eius enim, ex facilis harum id ipsa ipsam ipsum maiores
                minima nemo perferendis quasi qui quidem, quis quo sapiente sed tempora. Aliquam ipsum magni reiciendis
                tenetur voluptatem. Architecto deleniti distinctio ex fugit iure magni minima molestiae necessitatibus
                nostrum, quaerat rerum voluptatum? Eum fuga in ipsum magnam molestiae tempora ullam ut! Consequatur
                dignissimos dolor id magnam? Cumque dolor est illo vero? A aperiam consequuntur corporis debitis
                deleniti dolor dolorum eius ex explicabo, facere fuga, fugiat iste molestiae molestias optio quasi quos
                ratione rem sit tempore tenetur ut vitae voluptate? Ab distinctio doloribus est expedita illum neque
                obcaecati quam quis soluta voluptas. A cum fugit inventore mollitia perspiciatis quidem sed temporibus!
                Aut consequuntur, dolore doloremque, dolorum harum incidunt laboriosam libero nam nihil odit
                perspiciatis quae quam quis, quo recusandae sunt tenetur voluptate voluptatibus! A aperiam at aut
                commodi consequatur culpa cum cupiditate ea, et fuga illo labore laboriosam magnam maxime molestiae
                placeat, quae quasi rem sed, soluta tempore velit vitae voluptatibus. Culpa fuga nihil quaerat?</p>
        </div>
    </div>
{% block add_script %}
    <script src={% static "js/bootstrap.js" %}></script>
{% endblock add_script %}
{% endblock page %}